body {
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    width: 90%;
    margin: 5%;
    color: lightgreen;
    font-family: 'Proza Libre';
    background-color: snow;
}
h1{
    border-top: 1px solid black;
    padding-top: 20px;
    font-size: 48px;
    line-height: 46px;
    font-weight: 100;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab';
    color: black;
}
a{
    color: turquoise;
    display: inline-block;
}
a:hover{
    color: black;
}
small {
    display: block;
    border-top: 3px solid turquoise;
    padding-top: 10px;
    color: black;
}